
{% extends "base/base.html" %}

{% block head %}
<title>Категории</title>
{% endblock %}

{% block body %}
        <main>
        <section class="category-list">
            <div class="category-card">
                <h2><a href="/category/1">Общи дискусии</a></h2>
                <p>Теми без ограничение.</p>
            </div>
        </section>
        <section class="category-list">
            <div class="category-card">
                <h2><a href="/category/2">Кодиране</a></h2>
                <p>Въпроси и отговори по програмиране.</p>
            </div>
        </section>
    </main>
{% endblock %}