
{% extends "base/base.html" %}

{% block head %}
<title>Теми</title>
{% endblock %}

{% block body %}
    <main>
        {% for topic in topics %}
            <section class="category-list">
                <div class="category-card">
                    <h2><a href="/topic/{{topic.id}}">{{ topic.title }}</a></h2>
                        {% if title.lock %}
                            <p>Заключено съдържание - нямате право да пишете по темата.</p>
                        {% else %}
                            <p>Отключено съдържание - имате право да пишете по темата.</p>
                        {% endif %}
                </div>
            </section>
        {% endfor %}
    </main>
{% endblock %}

