
{% extends "base/base.html" %}

{% block head %}
<title>Теми</title>
{% endblock %}

{% block body %}
    <main>
        <section class="category-list">
            <div class="category-card">
                <h2><a href="/category/1">Име на Тема</a></h2>
                <p>Теми без ограничение.</p>
            </div>
        </section>
        <section class="category-list">
            <div class="category-card">
                <h2><a href="/category/2">Друго име на тема</a></h2>
                <p>Въпроси и отговори по програмиране.</p>
            </div>
        </section>
    </main>
{% endblock %}