

{% extends "base/base.html" %}

{% block body %}
<body class="body">
    <h1 class="title">{{ custom_msg(msg) }}</h1>
    <br>
    <h2 class="title">Latest News</h1>
    <ul class="news-list">
        {% for article in news %}
            <li class="news-item">
                <a href="{{ article.url }}" target="_blank" class="news-link">{{ article.title }}</a>
                <p class="news-description">{{ article.description }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}