

{% extends "base.html" %}

{% block body %}
    <main>
        <section class="category-list">
            <div class="category-card">
                <h2><a href="/category/1">Общи дискусии</a></h2>
                <p>Говорете за всичко, което ви интересува.</p>
            </div>
            <div class="category-card">
                <h2><a href="/category/2">Технологии</a></h2>
                <p>Новини и разговори за софтуер, хардуер и иновации.</p>
            </div>
        </section>
    </main>
{% endblock %}